<div class="">
  <div class="card d-flex flex-row align-items-center">
    <img class="img-responsive center-block" src="{{viewUser.image}}" style="width: 250px; height: 200px;">
    <div class="mx-3 my-3">
      <div>
        <h4>{{viewUser.name}}</h4>
        <p>{{viewUser.email}}</p>
        <ul>
          <li><strong>{{viewUser.countOfCommentedRest}} 已評論餐廳</strong></li>
          <li><strong>{{viewUser.countOfFavorRest}} 收藏的餐廳</strong></li>
          <li><strong>{{viewUser.countOfFollowings}} followings(追蹤者)</strong></li>
          <li><strong>{{viewUser.countOfFollowers}} followers(追隨者)</strong></li>
        </ul>
      </div>
      <div class="d-flex align-items-center">
        {{#ifCond viewUser.id user.id}}
        <a class="btn btn-primary" href="/users/{{viewUser.id}}/edit">edit</a>
        {{/ifCond}}
        <a class="mx-2" href="javascript:history.back()">回上一頁</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card mt-3">
        <div class="card-header">
          <strong>
            {{viewUser.countOfFollowings}} followings
          </strong>
        </div>
        <div class="card-body">
          {{#each viewUser.Followings}}
          <a href="/users/{{this.id}}" style="text-decoration: none;">
            <img class="mx-2 mb-3" src="{{this.image}}" style="width: 45px; height: 45px;">
          </a>
          {{/each}}
        </div>
      </div>
      <div class="card mt-3">
        <div class="card-header">
          <strong>
            {{viewUser.countOfFollowers}} followers
          </strong>
        </div>
        <div class="card-body">
          {{#each viewUser.Followers}}
          <a href="/users/{{this.id}}" style="text-decoration: none;">
            <img class="mx-2 mb-3" src="{{this.image}}" style="width: 45px; height: 45px;">
          </a>
          {{/each}}
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card mt-3">
        <div class="card-header">
          <strong>
            {{user.countOfCommentedRest}} 已評論餐廳
          </strong>
        </div>
        <div class="card-body">
          {{#each restImgs}}
          <a href="/restaurants/{{this.id}}" style="text-decoration: none;">
            <img class="mx-2 mb-3" src="{{this.image}}" style="width: 45px; height: 45px;">
          </a>
          {{/each}}
        </div>
      </div>
      <div class="card mt-3">
        <div class="card-header">
          <strong>
            {{viewUser.countOfFavorRest}} 收藏的餐廳
          </strong>
        </div>
        <div class="card-body">
          {{#each viewUser.FavoritedRestaurants}}
          <a href="/restaurants/{{this.id}}" style="text-decoration: none;">
            <img class="mx-2 mb-3" src="{{this.image}}" style="width: 45px; height: 45px;">
          </a>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>